---
import config from "virtual:starlight/user-config";

import LanguageSelect from "@astrojs/starlight/components/LanguageSelect.astro";
import Search from "@astrojs/starlight/components/Search.astro";
import SiteTitle from "./SiteTitle.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import ThemeSelect from "./ThemeSelect.astro";

const shouldRenderSearch =
  config.pagefind ||
  config.components.Search !== "@astrojs/starlight/components/Search.astro";
---

<div class="header">
  <div class="sl-bejamas-header-title">
    <SiteTitle />
  </div>
  <div class="sl-flex sl-bejamas-header-search sl-justify-end print:hidden">
    {shouldRenderSearch && <Search />}
  </div>
  <div class="header-desktop-right print:hidden right-group">
    <div class="sl-flex social-icons">
      <SocialIcons />
    </div>
    <ThemeSelect />
    <LanguageSelect />
  </div>
</div>

<style>
  @layer bejamas {
    .sl-bejamas-header-title {
      display: flex;
      align-items: center;
      gap: 1.25rem;
    }

    .sl-bejamas-header-search {
      margin-left: auto;
    }

    .header {
      display: flex;
      gap: var(--sl-nav-gap);
      justify-content: space-between;
      align-items: center;
      height: 100%;
      position: relative;
      z-index: 10;
    }

    .header-desktop-right {
      display: none;
    }

    @media (min-width: 64rem) {
      .header-desktop-right {
        display: flex;
      }
    }

    .sl-justify-end {
      justify-content: flex-end;
    }

    .title-wrapper {
      overflow: clip;
      padding: 0.25rem;
      margin: -0.25rem;
      min-width: 0;
    }

    .right-group,
    .social-icons {
      gap: 1rem;
      align-items: center;
    }

    .social-icons::after {
      content: "";
      height: 2rem;
      border-inline-end: 0.5px solid var(--sl-color-gray-5);
    }

    @media (min-width: 64rem) {
      :global(:root[data-has-sidebar]) {
        --__sidebar-pad: calc(2 * var(--sl-nav-pad-x));
      }

      :global(.page-mobile-sidebar-only) .header {
        --__sidebar-pad: 0rem;
        display: flex;
        grid-template-columns: none;
      }

      :global(:root:not([data-has-toc])) {
        --__toc-width: 0rem;
      }

      .header {
        --__sidebar-width: max(
          0rem,
          var(--sl-content-inline-start, 0rem) - var(--sl-nav-pad-x)
        );
        --__main-column-fr: calc(
          (
              100% + var(--__sidebar-pad, 0rem) -
                var(--__toc-width, var(--sl-sidebar-width)) -
                (2 * var(--__toc-width, var(--sl-nav-pad-x))) -
                var(--sl-content-inline-start, 0rem) - var(--sl-content-width)
            ) /
            2
        );
        display: grid;
        grid-template-columns:
          minmax(
            calc(
              var(--__sidebar-width) +
                max(0rem, var(--__main-column-fr) - var(--sl-nav-gap))
            ),
            auto
          )
          1fr
          auto;
        align-content: center;
      }
    }
  }
</style>